In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
df = pd.read_csv(r"C:\Users\Suwethikaa.G\OneDrive\Desktop\Profit_Analysis-pro\startup_profit_analysis.csv")
df.head()

    RD_Spend  Administration  Marketing_Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df

     RD_Spend  Administration  Marketing_Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [6]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RD_Spend         50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing_Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

            RD_Spend  Administration  Marketing_Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [7]:
df.isnull().sum()

RD_Spend           0
Administration     0
Marketing_Spend    0
State              0
Profit             0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.dtypes

RD_Spend           float64
Administration     float64
Marketing_Spend    float64
State               object
Profit             float64
dtype: object

In [10]:
df.describe()

            RD_Spend  Administration  Marketing_Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [11]:
df_full = df.copy()

In [12]:
df_model = df.drop(columns=['State'])

In [13]:
X = df_model[['RD_Spend', 'Administration', 'Marketing_Spend']]
y = df_model['Profit']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [15]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [16]:
y_test_pred = model.predict(X_test)

r2 = r2_score(y_test, y_test_pred)
print("R² Score:", r2)

R² Score: 0.900065308303732

In [17]:
coeff_df = pd.DataFrame({
    'Feature': X.columns,
    'Coefficient': model.coef_
})

coeff_df

           Feature  Coefficient
0         RD_Spend     0.803779
1   Administration    -0.067929
2  Marketing_Spend     0.031242

In [18]:
df_model['Predicted_Profit'] = model.predict(X)
df_model.head()

    RD_Spend  Administration  Marketing_Spend     Profit  Predicted_Profit
0  165349.20       136897.80        471784.10  192261.83     192416.046085
1  162597.70       151377.59        443898.53  191792.06     188349.658919
2  153441.51       101145.55        407934.54  191050.39     183278.753495
3  144372.41       118671.85        383199.62  182901.99     174025.894645
4  142107.34        91391.77        366168.42  166187.94     173526.310606

In [19]:
df_model

     RD_Spend  Administration  Marketing_Spend     Profit  Predicted_Profit
0   165349.20       136897.80        471784.10  192261.83     192416.046085
1   162597.70       151377.59        443898.53  191792.06     188349.658919
2   153441.51       101145.55        407934.54  191050.39     183278.753495
3   144372.41       118671.85        383199.62  182901.99     174025.894645
4   142107.34        91391.77        366168.42  166187.94     173526.310606
5   131876.90        99814.71        362861.36  156991.12     164627.813930
6   134615.46       147198.87        127716.82  156122.51     156263.965914
7   130298.13       145530.06        323876.68  155752.60     159035.483689
8   120542.52       148718.95        311613.29  152211.77     150594.380624
9   123334.88       108679.17        304981.62  149759.96     155351.507282
10  101913.08       110594.11        229160.95  146121.95     135634.273161
11  100671.96        91790.61        249744.55  144259.40     136557.056334
12   93863.75       127320.38        249839.44  141585.52     128674.214814
13   91992.39       135495.07        252664.93  134307.35     126703.027165
14  119943.24       156547.42        256512.92  132602.65     147859.489541
15  114523.61       122616.84        261776.23  129917.04     145972.613479
16   78013.11       121597.55        264346.06  126992.93     116775.755226
17   94657.16       145077.58        282574.31  125370.37     129128.397344
18   91749.16       114175.79        294919.57  124266.90     129275.825287
19   86419.70       153514.11             0.00  122776.86     113106.152922
20   76253.86       113867.30        298664.47  118474.03     116958.976214
21   78389.47       153773.43        299737.29  111313.02     115998.261379
22   73994.56       122782.75        303319.26  110352.25     114682.801377
23   67532.53       105751.03        304768.73  108733.99     110690.989940
24   77044.01        99281.34        140574.81  108552.04     113645.929254
25   64664.71       139553.16        137962.62  107404.34     100878.464145
26   75328.87       144135.98        134050.07  105733.54     109016.553658
27   72107.60       127864.55        353183.81  105008.31     114378.745186
28   66051.52       182645.56        118148.20  103282.38      98446.889033
29   65605.48       153032.06        107138.38  101004.64      99756.028122
30   61994.48       115641.28         91131.24   99937.59      98893.418160
31   61136.38       152701.92         88218.23   97483.56      95595.189565
32   63408.86       129219.61         46085.25   97427.84      97700.596386
33   55493.95       103057.49        214634.81   96778.92      98381.675776
34   46426.07       157693.92        210797.67   96712.80      87261.816013
35   46014.02        85047.44        205517.64   96479.51      91700.477843
36   28663.76       127056.21        201126.82   90708.19      74763.901377
37   44069.95        51283.14        197029.42   89949.14      92166.270562
38   20229.59        65947.93        185265.10   81229.06      71640.180655
39   38558.51        82982.09        174999.30   81005.76      84894.750816
40   28754.33       118546.05        172795.67   78239.91      74529.678882
41   27892.92        84710.77        164470.71   77798.83      75875.613379
42   23640.93        96189.63        148001.11   71498.49      71163.666694
43   15505.73       127382.30         35534.17   69758.98      58992.228155
44   22177.74       154806.14         28334.72   65200.33      62267.250773
45    1000.23       124153.04          1903.93   64926.08      46501.708150
46    1315.46       115816.21        297114.46   49490.75      56544.230790
47       0.00       135426.92             0.00   42559.73      44872.436933
48     542.05        51743.15             0.00   35673.41      50992.694863
49       0.00       116983.80         45173.06   14681.40      47536.539068

In [20]:
new_data = pd.DataFrame({
    'R&D Spend': [21892.92, 23940.93],
    'Administration': [81910.77, 96489.63],
    'Marketing Spend': [164270.7, 137001.1]
})

new_data['Profit'] = model.predict(new_data)
new_data

C:\Users\Suwethikaa.G\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Marketing Spend
- R&D Spend
Feature names seen at fit time, yet now missing:
- Marketing_Spend
- RD_Spend

  warnings.warn(message, FutureWarning)

   R&D Spend  Administration  Marketing Spend        Profit
0   21892.92        81910.77         164270.7  71236.890791
1   23940.93        96489.63         137001.1  71040.764407

In [21]:
df_full['Predicted_Profit'] = model.predict(X)

In [22]:
df_full

,RD_Spend,Administration,Marketing_Spend,State,Profit,Predicted_Profit
0,165349.20,136897.80,471784.10,New York,192261.83,192416.046085
1,162597.70,151377.59,443898.53,California,191792.06,188349.658919
2,153441.51,101145.55,407934.54,Florida,191050.39,183278.753495
3,144372.41,118671.85,383199.62,New York,182901.99,174025.894645
4,142107.34,91391.77,366168.42,Florida,166187.94,173526.310606
5,131876.90,99814.71,362861.36,New York,156991.12,164627.813930
6,134615.46,147198.87,127716.82,California,156122.51,156263.965914
7,130298.13,145530.06,323876.68,Florida,155752.60,159035.483689
8,120542.52,148718.95,311613.29,New York,152211.77,150594.380624
9,123334.88,108679.17,304981.62,California,149759.96,155351.507282
10,101913.08,110594.11,229160.95,Florida,146121.95,135634.273161
11,100671.96,91790.61,249744.55,California,144259.40,136557.056334
12,93863.75,127320.38,249839.44,Florida,141585.52,128674.214814
13,91992.39,135495.07,252664.93,California,134307.35,126703.027165
14,119943.24,156547.42,256512.92,Florida,132602.65,147859.489541
15,114523.61,122616.84,261776.23,New York,129917.04,145972.613479
16,78013.11,121597.55,264346.06,California,126992.93,116775.755226
17,94657.16,145077.58,282574.31,New York,125370.37,129128.397344
18,91749.16,114175.79,294919.57,Florida,124266.90,129275.825287
19,86419.70,153514.11,0.00,New York,122776.86,113106.152922
20,76253.86,113867.30,298664.47,California,118474.03,116958.976214
21,78389.47,153773.43,299737.29,New York,111313.02,115998.261379
22,73994.56,122782.75,303319.26,Florida,110352.25,114682.801377
23,67532.53,105751.03,304768.73,Florida,108733.99,110690.989940
24,77044.01,99281.34,140574.81,New York,108552.04,113645.929254
25,64664.71,139553.16,137962.62,California,107404.34,100878.464145
26,75328.87,144135.98,134050.07,Florida,105733.54,109016.553658
27,72107.60,127864.55,353183.81,New York,105008.31,114378.745186
28,66051.52,182645.56,118148.20,Florida,103282.38,98446.889033
29,65605.48,153032.06,107138.38,New York,101004.64,99756.028122
30,61994.48,115641.28,91131.24,Florida,99937.59,98893.418160
31,61136.38,152701.92,88218.23,New York,97483.56,95595.189565
32,63408.86,129219.61,46085.25,California,97427.84,97700.596386
33,55493.95,103057.49,214634.81,Florida,96778.92,98381.675776
34,46426.07,157693.92,210797.67,California,96712.80,87261.816013
35,46014.02,85047.44,205517.64,New York,96479.51,91700.477843
36,28663.76,127056.21,201126.82,Florida,90708.19,74763.901377
37,44069.95,51283.14,197029.42,California,89949.14,92166.270562
38,20229.59,65947.93,185265.10,New York,81229.06,71640.180655
39,38558.51,82982.09,174999.30,California,81005.76,84894.750816
40,28754.33,118546.05,172795.67,California,78239.91,74529.678882
41,27892.92,84710.77,164470.71,Florida,77798.83,75875.613379
42,23640.93,96189.63,148001.11,California,71498.49,71163.666694
43,15505.73,127382.30,35534.17,New York,69758.98,58992.228155
44,22177.74,154806.14,28334.72,California,65200.33,62267.250773
45,1000.23,124153.04,1903.93,New York,64926.08,46501.708150
46,1315.46,115816.21,297114.46,Florida,49490.75,56544.230790
47,0.00,135426.92,0.00,California,42559.73,44872.436933
48,542.05,51743.15,0.00,New York,35673.41,50992.694863
49,0.00,116983.80,45173.06,California,14681.40,47536.539068

In [23]:
import os
os.listdir()

['.anaconda',
 '.android',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.dotnet',
 '.EasyOCR',
 '.git',
 '.git-for-windows-updater',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.mamba',
 '.matplotlib',
 '.node_repl_history',
 '.spyder-py3',
 '.vscode',
 '202IT244-HUMANPOSE DETECTION .ipynb',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'chart.ipynb',
 'CollegeBot (1)',
 'CollegeBot (1).rar',
 'Contacts',
 'Cookies',
 'Documents',
 'Downloads',
 'Favorites',
 'FRSuganthi.....docx',
 'geany-1.27_setup(1).exe',
 'InstallSQLiteStudio-3.2.1.exe',
 'Kmeans.ipynb',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'my-app',
 'NetHood',
 'node',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'postgresql_14.exe',
 'Postman',
 'Prediction (1).html',
 'Predictive analysis(RandomForestClassifier).ipynb',
 'PrintHood',
 'Profit Analysis_project.ipynb',
 'python-3.6.0-amd64.exe',
 'python_Day1.ipynb',
 'Randomforestclassifier()-hw-Copy1.ipynb',
 'Randomforestclassifier()-hw.ipynb',
 'Recent',
 'Saved Games',
 'seaborn-data',
 'Searches',
 'SendTo',
 'Start Menu',
 'startup_profit_powerbi.csv',
 'StudioProjects',
 'Templates',
 'Tracing',
 'Type_casting_python.ipynb',
 'Universal,BI Variate analysis.ipynb',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos']

In [24]:
df_full.to_csv("startup_profit_powerbi.csv", index=False)

In [25]:
os.getcwd()

'C:\\Users\\Suwethikaa.G'

In [58]:
os.listdir('C:/Users/Suwethikaa.G/')

['.anaconda',
 '.android',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.dotnet',
 '.EasyOCR',
 '.git',
 '.git-for-windows-updater',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.lesshst',
 '.mamba',
 '.matplotlib',
 '.node_repl_history',
 '.spyder-py3',
 '.vscode',
 '202IT244-HUMANPOSE DETECTION .ipynb',
 '3D Objects',
 'anaconda3',
 'AppData',
 'Application Data',
 'chart.ipynb',
 'CollegeBot (1)',
 'CollegeBot (1).rar',
 'Contacts',
 'Cookies',
 'Documents',
 'Downloads',
 'Favorites',
 'FRSuganthi.....docx',
 'geany-1.27_setup(1).exe',
 'InstallSQLiteStudio-3.2.1.exe',
 'Kmeans.ipynb',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'my-app',
 'NetHood',
 'node',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'postgresql_14.exe',
 'Postman',
 'Prediction (1).html',
 'Predictive analysis(RandomForestClassifier).ipynb',
 'PrintHood',
 'python-3.6.0-amd64.exe',
 'python_Day1.ipynb',
 'Randomforestclassifier()-hw-Copy1.ipynb',
 'Randomforestclassifier()-hw.ipynb',
 'Recent',
 'Saved Games',
 'seaborn-data',
 'Searches',
 'SendTo',
 'Start Menu',
 'startup_profit_powerbi.csv',
 'StudioProjects',
 'Templates',
 'Tracing',
 'Type_casting_python.ipynb',
 'Universal,BI Variate analysis.ipynb',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos']